#comments{
  margin-bottom: 2em;
}
.user-comment {
  padding: 10px;
  margin: 20px 0 10px 0;
  border: #c1c1c9 solid 1px;
  color: #19191a;
  width: 90%;
  padding: 10px;
  border-left-width: 5px !important;
  border-radius: 10px;
  border-left-color: var(--red3);
}

.comment-info{
	padding: 5px;
}

.comment-body{
	padding: 5px;
}

.comment-votes{
  margin-left: 10px;
  vertical-align: center;
}


.write-comment{
	margin-left: 10px;
  padding: 10px;
  border-style: none;
  background: var(--red2);
  color: white;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-size: 0.7em;
  line-height: 1.4em;
	cursor:pointer;
}

.comment-input-div{
	position: relative;
}


.comment-input-div >.comment-input {
  margin-top: 10px;
  width: 90%;
  height: 100px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 6px 6px 6px 6px;
  border-style: none;
  color: #555555;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  resize: none;

}


.comment-input-div > .comment-input:focus {
  background: #FFFFFF;
  outline-width: 0;
}

.comment-input-div > .post-comment-btn {
  height: 30px;
  padding: 10px;
  border-style: none;
  background: var(--red2);
  color: white;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  line-height: 1.4em;
  padding: 5px 8px;
  margin-left: 15px;
  cursor: pointer;
}


.comment-input-div > .edit-comment-btn {
  height: 30px;
  border-style: none;
  background: var(--red2);
  color: white;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  line-height: 1.4em;
  padding: 5px 8px;
  position: absolute;
  left: 47px;
  bottom: 5px;
  cursor:pointer;
}

.comment-input-div > .edit-post-btn {
  height: 30px;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  background: #A9A9A9;
  color: #555555;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  position: absolute;
  left: 12px;
  bottom: 5px;
  cursor:pointer;
}


.replyBtn{
  padding: 10px;
  border-style: none;
  background: var(--red2);
  color: white;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-size: 0.7em;
  line-height: 1.4em;
  cursor:pointer;
}


.comment-trashcan{
  width: 16px;
  height: 16px;
  cursor:pointer;
}

.comment-edit{
  width: 16px;
  height: 16px;
  cursor:pointer;
  margin-right: 10px;
  margin-left: 5px;
}

.write-comment-div{
  margin-left: 30px;
}
