.user-comment {
  padding: 10px;
  margin: 10px 0 10px 0;
  border: #c1c1c9 solid 1px;
  color: #19191a;
  width: 90%;
  padding: 10px;
  border-bottom-width: 5px !important;
}


.comment-info{
	padding: 5px;
}

.comment-body{
	padding: 5px;
}


.write-comment{
	margin-left: 10px;
	border: none;
	background: none;
	cursor:pointer;
}

.comment-input-div{
	position: relative;
}


.comment-input-div >.comment-input {
  margin-top: 10px;
  margin-left: 10px;
  width: 90%;
  height: 100px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  resize: none;

}


.comment-input-div > .comment-input:focus {
    background: #FFFFFF;
    outline-width: 0;
}

.comment-input-div > .post-comment-btn {
  	height: 30px;
  	border-radius: 6px 6px 6px 6px;
  	border-style: none solid solid none;
  	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  	background: #A9A9A9;
  	color: #555555;
  	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-size: 1em;
  	line-height: 1.4em;
  	padding: 5px 8px;
  	position: absolute;
  	left: 12px;
  	bottom: 5px;
}