:root {
    --dark: #1A1A1A;
    --light: #F0F0F0;
    --red: #FF0000;
    --orange: #FF6000;
    --yellow: #FFFF00;
    --green: #92FF00;
    --blue: #3DC3F8;
    --pink: #EA499C;
}

body {
  display: grid;
  grid-template-columns: [start] 4fr [middle] 1.25fr [end];
  grid-template-rows: [start] 7em [nav sort search-big search error single-post] auto [posts search-results] auto [load-more] auto [sidebar] auto [footer] auto [end];
}

/* main layout */

body > header {
  grid-row: start / nav;
  grid-column: start / end;
}

#sort {
  grid-row: sort / posts;
  grid-column: start / middle;
}

#user-profile-sidebar {
  grid-row: nav / footer;
  grid-column: middle / end;
}

#settings-sidebar{
  grid-row: nav / footer;
  grid-column: middle / end;
}


#user-history {
  grid-row: nav / footer;
  grid-column: start / middle;
}

#search {
  grid-row: sort / posts;
  grid-column: middle / end;
}

#sidebar {
  grid-row: posts / sidebar
  grid-column: middle / end;
}


#posts, #channel-posts {
  grid-row: posts / load-more;
  grid-column: start / middle;
}

#load-more {
  grid-row: load-more / footer;
  grid-column: start / middle;

}

#channel-empty-block {
  grid-row: sort / footer;
  grid-column: start / middle;
}



#single-post {
  grid-row: single-post / footer;
  grid-column: start / middle;
}

#search-results {
  grid-row: search-results / footer;
  grid-column: start / end;
}

#search-big {
  grid-row: search-big / search-results;
  grid-column: start / end;
}

#comments{
  position:relative;
  left:10px;
  top:10px;
  width: 100%;
}

#error-block{
  grid-row: error / end;
  grid-column: start / end;
}

body > footer {
  grid-row: footer / end;
  grid-column: start / end;
}

/* header layout */

body > header {
  display: grid;
  grid-template-columns: [logo] 10% [channels] 80% [login] 10% [end];
  grid-template-rows: [start] auto [end];
  vertical-align: center;
}

body > header #logo {
  display: flex;
  justify-content: space-around;
}

#channels ul {
  display: flex;
  flex-direction: row;
}

#channels li {
  display: block;
  flex: 1;
}

/* sort layout */

#sort ul {
  display: flex;
  flex-direction: row;
}

#sort li {
  list-style: none;
}

/* post blocks layout */

#posts article, #single-post article, #search-posts article,  #search-comments article, #channel-posts article {
  display: grid;
  grid-template-columns: [voting] 2em [image] 5em [start] auto [end];
  grid-template-rows: [start] auto [info] auto [end];
  margin-bottom: 1em;
}

#posts article .voting, #single-post article .voting, #search-posts article .voting,  #search-comments article .voting, #channel-posts article .voting {
  grid-column: voting / image;
  grid-row: start / end;
  display: flex;
  flex-direction: column;
}

#posts article .thumbnail, #single-post article .thumbnail, #search-posts article .thumbnail, #channel-posts article .thumbnail {
  grid-column: image / start;
  grid-row: start / end;
}

#posts article > header .title, #single-post article > header .title, #search-posts article > header .title, #channel-posts article > header .title {
  grid-column: start / end;
  grid-row: start / info;
  margin: 0;
  font-size: 1.5em;
}

#search-comments article > header .preview {
  grid-column: start / end;
  grid-row: start / info;
  /* margin: 0; */
}

#posts article > footer, #single-post article > footer, #search-posts article > footer, #channel-posts article > footer {
  grid-column: start / end;
  grid-row: info / end;
}

#search-comments article > footer {
  grid-column: start / end;
  grid-row: info / end;
}


/* comment layout */


.comment-voting {
  position: relative;
  float: left;
  width: 10px;
  height: 82px;
  padding-right: 20px;
}

#comments article {
  display: grid;
  grid-template-columns: [voting] 2em [image] 6em [start] auto [end];
  grid-template-rows: [start] auto [preview] auto [end];
  margin: 0.5em 0.5em 2em;
}

#comments article .voting {
  grid-column: voting / image;
  grid-row: start / end;
  display: grid;
}

#comments article > img {
  grid-column: image / start;
  grid-row: start / end;
}

#comments article > header .preview {
  grid-column: start / end;
  grid-row: start / end;
  /* background-color: blue; */
}

#comments article > footer {
  grid-column: start / end;
  grid-row: preview / end;
}
